{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'product/style.css' %}" />
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
</style>

<div id="form" class="formcss">

    <form action="{% url 'product:login_user' %}" method="post">
        {% csrf_token %}
        
        <h1>Login</h1>
        {{ log_form.as_p }}
        <input type="submit" id="logsubmit" value="Login"/>
    </form>

    <form action="{% url 'product:register_user' %}" method="post">
        {% csrf_token %}
        <h1>Register</h1>
        {{ reg_form.as_p }}
        <input type="submit" id="regsubmit" value="Register"/>
        <span class="spanalert">User already exists - change username!</span>
    </form>
</div>

<script>
$("#id_reg_username").keyup(function () {
    var username = $(this).val();
    
    $.ajax({
        url: 'ajax/validate_username/',
        data: {'username': username},
        dataType: 'json',
        success: function (user) {
          if (user.exists) {
            $(".spanalert").css("display", "block").fadeOut(3000);
            $("#regsubmit").attr("disabled", true);
            }
          else {
            $("#regsubmit").attr("disabled", false);
            }
        }
    });
});
</script>

